/*WE ARE USING NODE-SASS FOR THIS REPO. PLEASE MAKE ALL STYLE CHANGES WITHIN /CLIENT/STYLES/SCSS/STYLE.SCSS FILE. AFTER MAKING CSS CHANGES, RUN "gulp sass" FROM TERMINAL TO COMPILE CSS CHANGES.*/
* {
  font-family: 'Roboto', sans-serif;
  font-weight: 100; }

body {
  background-color: #cccccc; }

.mainNav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-size: 16px;
  background-color: #4d4d4d;
  margin-bottom: 10%; }

.profileNav {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around; }

a, a:link, a:active, a:visited {
  text-decoration: none;
  color: white; }

a:hover {
  color: #e6e6e6; }

.logo {
  font-family: 'Suez One', serif;
  font-size: 26px; }

#wrapper {
  margin-top: 10%; }

#profilePhoto {
  border-radius: 1%;
  display: block;
  margin-top: 2%;
  margin-bottom: 1%;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%; }

#ProfileName {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 1%; }

#userProfileContainer {
  border: 1px solid black;
  padding-bottom: 5%; }

.profileRow {
  padding-left: 5%;
  margin-right: 3%;
  margin-left: 3%;
  margin-top: 1%;
  margin-bottom: 1%; }

.oneFriend {
  display: block;
  border-radius: 3px;
  border: 1px solid white;
  width: 30%;
  margin: 1.655%; }

.oneFriend:hover {
  border: 1px solid black; }

.oneFriendWrapper {
  width: 0;
  padding-bottom: 100%;
  overflow: hidden; }

video {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1); }

.AllFriendsContainer {
  margin: 0 auto;
  width: 90%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 0;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #e1e8ed; }
