/*WE ARE USING NODE-SASS FOR THIS REPO. PLEASE MAKE ALL STYLE CHANGES WITHIN /CLIENT/STYLES/SCSS/STYLE.SCSS FILE. AFTER MAKING CSS CHANGES, RUN "gulp sass" FROM TERMINAL TO COMPILE CSS CHANGES.*/
* {
  font-family: 'Roboto', sans-serif;
  font-weight: 100; }

body {
  background-color: #f2f2f2;
  color: #737373; }

.mainNav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-size: 16px;
  background-color: #4d4d4d;
  margin-bottom: 10%; }

.profileNav {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around; }

a, a:link, a:active, a:visited {
  text-decoration: none;
  color: white; }

a:hover {
  color: #e6e6e6; }

.logo {
  font-family: 'Suez One', serif;
  font-size: 26px; }

#wrapper {
  margin-top: 10%; }

#profilePhoto {
  border-radius: 1%;
  display: block;
  margin-top: 2%;
  margin-bottom: 1%;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%; }

#ProfileName {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 1%; }

#userProfileContainer {
  border: 1px solid black;
  padding-bottom: 5%; }

.profileRow {
  padding-left: 5%;
  margin-right: 3%;
  margin-left: 3%;
  margin-top: 1%;
  margin-bottom: 1%; }

.oneFriend {
  display: inline-block;
  border-radius: 3px;
  border: 1px solid white;
  width: 30%;
  margin: 1.655%; }

.oneFriend:hover {
  border: 1px solid black; }

.oneFriendWrapper {
  width: 0;
  padding-bottom: 100%;
  overflow: hidden; }

video {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1); }

.AllFriendsContainer {
  margin: 0 auto;
  width: 90%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 0;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #e1e8ed; }

#signUpHere {
  margin-left: 8%;
  margin-bottom: 3%; }

.signUpInput {
  display: block;
  border-radius: 4px;
  border: 1px solid #8c8c8c;
  padding-left: 1%;
  margin-left: 6%;
  margin-bottom: 1.5%;
  width: 40%;
  height: 3em;
  box-sizing: border-box; }

.formButton {
  margin-left: 6%;
  border: 1px solid #15aeec;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
  font-family: Roboto, arial, helvetica, sans-serif;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  display: inline-block;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  font-weight: 200;
  color: #FFFFFF;
  background-color: #49c0f0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#49c0f0), to(#2CAFE3));
  background-image: -webkit-linear-gradient(top, #3d9de9, #0674cc);
  background-image: -moz-linear-gradient(top, #3d9de9, #0674cc);
  background-image: -ms-linear-gradient(top, #3d9de9, #0674cc);
  background-image: -o-linear-gradient(top, #3d9de9, #0674cc);
  background-image: linear-gradient(to bottom, #3d9de9, #0674cc);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#49c0f0, endColorstr=#0674cc); }

.formButton:hover {
  border: 1px solid #1090c3;
  background-color: #1ab0ec;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1ab0ec), to(#1a92c2));
  background-image: -webkit-linear-gradient(top, #1ab0ec, #3f9feb);
  background-image: -moz-linear-gradient(top, #1ab0ec, #3f9feb);
  background-image: -ms-linear-gradient(top, #1ab0ec, #3f9feb);
  background-image: -o-linear-gradient(top, #1ab0ec, #3f9feb);
  background-image: linear-gradient(to bottom, #1ab0ec, #3f9feb);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1ab0ec, endColorstr=#3f9feb); }

.NavInputForm {
  border-radius: 4px;
  border: 1px solid #8c8c8c;
  color: #333333; }

.loginButton {
  border: 1px solid #15aeec;
  background-color: #49c0f0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#49c0f0), to(#2CAFE3));
  background-image: -webkit-linear-gradient(top, #3d9de9, #0674cc);
  background-image: -moz-linear-gradient(top, #3d9de9, #0674cc);
  background-image: -ms-linear-gradient(top, #3d9de9, #0674cc);
  background-image: -o-linear-gradient(top, #3d9de9, #0674cc);
  background-image: linear-gradient(to bottom, #3d9de9, #0674cc);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#49c0f0, endColorstr=#0674cc); }

.loginButton:hover {
  border: 1px solid #1090c3;
  background-color: #1ab0ec;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1ab0ec), to(#1a92c2));
  background-image: -webkit-linear-gradient(top, #1ab0ec, #3f9feb);
  background-image: -moz-linear-gradient(top, #1ab0ec, #3f9feb);
  background-image: -ms-linear-gradient(top, #1ab0ec, #3f9feb);
  background-image: -o-linear-gradient(top, #1ab0ec, #3f9feb);
  background-image: linear-gradient(to bottom, #1ab0ec, #3f9feb);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1ab0ec, endColorstr=#3f9feb); }

.videoButton {
  display: inline;
  position: absolute;
  margin-top: 1%;
  margin-left: 2%;
  border: 1px solid #15aeec;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
  font-family: Roboto, arial, helvetica, sans-serif;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  font-weight: 200;
  color: #FFFFFF;
  background-color: #49c0f0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#49c0f0), to(#2CAFE3));
  background-image: -webkit-linear-gradient(top, #3d9de9, #0674cc);
  background-image: -moz-linear-gradient(top, #3d9de9, #0674cc);
  background-image: -ms-linear-gradient(top, #3d9de9, #0674cc);
  background-image: -o-linear-gradient(top, #3d9de9, #0674cc);
  background-image: linear-gradient(to bottom, #3d9de9, #0674cc);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#49c0f0, endColorstr=#0674cc); }

.videoButton:hover {
  border: 1px solid #1090c3;
  background-color: #1ab0ec;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1ab0ec), to(#1a92c2));
  background-image: -webkit-linear-gradient(top, #1ab0ec, #3f9feb);
  background-image: -moz-linear-gradient(top, #1ab0ec, #3f9feb);
  background-image: -ms-linear-gradient(top, #1ab0ec, #3f9feb);
  background-image: -o-linear-gradient(top, #1ab0ec, #3f9feb);
  background-image: linear-gradient(to bottom, #1ab0ec, #3f9feb);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1ab0ec, endColorstr=#3f9feb); }

.chatButton {
  display: inline;
  float: right;
  position: absolute;
  margin-top: 1%;
  margin-left: 21%;
  border: 1px solid #15aeec;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
  font-family: Roboto, arial, helvetica, sans-serif;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  font-weight: 200;
  color: #FFFFFF;
  background-color: #49c0f0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#49c0f0), to(#2CAFE3));
  background-image: -webkit-linear-gradient(top, #3d9de9, #0674cc);
  background-image: -moz-linear-gradient(top, #3d9de9, #0674cc);
  background-image: -ms-linear-gradient(top, #3d9de9, #0674cc);
  background-image: -o-linear-gradient(top, #3d9de9, #0674cc);
  background-image: linear-gradient(to bottom, #3d9de9, #0674cc);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#49c0f0, endColorstr=#0674cc); }

.chatButton:hover {
  border: 1px solid #1090c3;
  background-color: #1ab0ec;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1ab0ec), to(#1a92c2));
  background-image: -webkit-linear-gradient(top, #1ab0ec, #3f9feb);
  background-image: -moz-linear-gradient(top, #1ab0ec, #3f9feb);
  background-image: -ms-linear-gradient(top, #1ab0ec, #3f9feb);
  background-image: -o-linear-gradient(top, #1ab0ec, #3f9feb);
  background-image: linear-gradient(to bottom, #1ab0ec, #3f9feb);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1ab0ec, endColorstr=#3f9feb); }

.searchButton {
  border: 1px solid #15aeec;
  background-color: #49c0f0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#49c0f0), to(#2CAFE3));
  background-image: -webkit-linear-gradient(top, #3d9de9, #0674cc);
  background-image: -moz-linear-gradient(top, #3d9de9, #0674cc);
  background-image: -ms-linear-gradient(top, #3d9de9, #0674cc);
  background-image: -o-linear-gradient(top, #3d9de9, #0674cc);
  background-image: linear-gradient(to bottom, #3d9de9, #0674cc);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#49c0f0, endColorstr=#0674cc); }

.searchButton:hover {
  border: 1px solid #1090c3;
  background-color: #1ab0ec;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1ab0ec), to(#1a92c2));
  background-image: -webkit-linear-gradient(top, #1ab0ec, #3f9feb);
  background-image: -moz-linear-gradient(top, #1ab0ec, #3f9feb);
  background-image: -ms-linear-gradient(top, #1ab0ec, #3f9feb);
  background-image: -o-linear-gradient(top, #1ab0ec, #3f9feb);
  background-image: linear-gradient(to bottom, #1ab0ec, #3f9feb);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1ab0ec, endColorstr=#3f9feb); }

.storeEmojisContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 90%; }

.oneEmoji {
  margin: 4%; }

.emojiWrapper {
  display: flex;
  justify-content: center;
  font-size: 5rem; }

.storeButton {
  display: flex;
  justify-content: center;
  color: white;
  border: 1px solid #15aeec;
  background-color: #49c0f0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#49c0f0), to(#2CAFE3));
  background-image: -webkit-linear-gradient(top, #3d9de9, #0674cc);
  background-image: -moz-linear-gradient(top, #3d9de9, #0674cc);
  background-image: -ms-linear-gradient(top, #3d9de9, #0674cc);
  background-image: -o-linear-gradient(top, #3d9de9, #0674cc);
  background-image: linear-gradient(to bottom, #3d9de9, #0674cc);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#49c0f0, endColorstr=#0674cc); }

.storeButton:hover {
  border: 1px solid #1090c3;
  background-color: #1ab0ec;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1ab0ec), to(#1a92c2));
  background-image: -webkit-linear-gradient(top, #1ab0ec, #3f9feb);
  background-image: -moz-linear-gradient(top, #1ab0ec, #3f9feb);
  background-image: -ms-linear-gradient(top, #1ab0ec, #3f9feb);
  background-image: -o-linear-gradient(top, #1ab0ec, #3f9feb);
  background-image: linear-gradient(to bottom, #1ab0ec, #3f9feb);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1ab0ec, endColorstr=#3f9feb); }

.storeButtonWrapper {
  display: flex;
  justify-content: center; }

.subNavLinks {
  color: #737373 !important; }

.chatFriendsList {
  border: 1px solid #404040;
  border-radius: 5px;
  margin-top: 5px;
  background-color: #404040;
  color: white !important;
  display: flex;
  position: fixed;
  flex-flow: column;
  font-size: 110%;
  align-items: center;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 25%;
  min-width: 100px;
  max-width: 300px; }

.chatFriendsHeader {
  display: flex;
  align-items: center;
  padding-left: 10%;
  padding-top: 5px;
  padding-botton: 5px; }

.chatFriendsListEntry {
  display: flex;
  align-items: center;
  padding-left: 10%;
  padding-top: 5px;
  padding-botton: 5px; }

.chatFriendsListEntry:hover {
  background-color: #595959;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px; }

.chatFriendListSelected {
  background-color: #a6a6a6 !important;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px; }

.oneFriendChatImage {
  display: block;
  border-radius: 3px;
  border: 1px solid white;
  width: 10%;
  margin: 1.655%;
  margin-right: 5%; }

.oneFriendChatImageWrapper {
  width: 0;
  padding-bottom: 100%;
  overflow: hidden; }

.chatWrapper {
  position: relative;
  left: 30%;
  width: 60%; }

.chatWindow {
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
  color: #404040 !important;
  display: flex;
  flex-flow: column;
  height: 420px;
  padding-left: 2%;
  padding-right: 1%;
  padding-bottom: 1%;
  width: 100%; }

.chatHeader {
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  background-color: #4d94ff;
  color: white;
  text-align: center;
  padding: 2%;
  margin-bottom: -1%; }

.chatInputWindow {
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
  color: #404040 !important;
  display: flex;
  width: 100%;
  height: 50px;
  padding-left: 2%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%; }

#chatInput {
  align-items: center;
  width: 90%; }

.textChatButton {
  display: inline;
  float: right;
  margin-left: 2%;
  border: 1px solid #15aeec;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
  font-family: Roboto, arial, helvetica, sans-serif;
  text-decoration: none;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  font-weight: 200;
  color: #FFFFFF;
  background-color: #49c0f0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#49c0f0), to(#2CAFE3));
  background-image: -webkit-linear-gradient(top, #3d9de9, #0674cc);
  background-image: -moz-linear-gradient(top, #3d9de9, #0674cc);
  background-image: -ms-linear-gradient(top, #3d9de9, #0674cc);
  background-image: -o-linear-gradient(top, #3d9de9, #0674cc);
  background-image: linear-gradient(to bottom, #3d9de9, #0674cc);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#49c0f0, endColorstr=#0674cc); }

.textChatButton:hover {
  border: 1px solid #1090c3;
  background-color: #1ab0ec;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1ab0ec), to(#1a92c2));
  background-image: -webkit-linear-gradient(top, #1ab0ec, #3f9feb);
  background-image: -moz-linear-gradient(top, #1ab0ec, #3f9feb);
  background-image: -ms-linear-gradient(top, #1ab0ec, #3f9feb);
  background-image: -o-linear-gradient(top, #1ab0ec, #3f9feb);
  background-image: linear-gradient(to bottom, #1ab0ec, #3f9feb);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1ab0ec, endColorstr=#3f9feb); }

.chatInputWrapper {
  margin-top: 1%; }

#chatInputField {
  border-radius: 10px;
  width: 80%;
  height: 30px; }

.oneChatMessage {
  display: inline-block;
  border-radius: 4px;
  padding: 5px;
  margin: 1%;
  background-color: #4d94ff;
  color: white;
  text-decoration: none;
  list-style-type: none; }

.emojiChatContainer {
  border: 1px solid black;
  background-color: white;
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  height: 100px; }

.oneEmojiChat {
  margin: 2%; }

.emojiChatWrapper {
  display: flex;
  justify-content: center;
  font-size: 3rem; }

.chatProfile {
  background-color: white;
  position: relative;
  padding: 2%;
  left: 30%;
  width: 60%; }
